:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d1fae5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
/* tree component  */
li{
  list-style-type: none;
}
.tree{
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  background: #fff;
  color: #242424;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 1rem;
  box-shadow: 0px 0px 3px;
  border: 1px solid #d1fae5;
  margin-bottom: 1rem;
}
.tree:hover{
  scale: 1.01;
}
.tree > img{
  width: 100%;
  aspect-ratio: 2;
  border-radius: 12px;
}
.search{
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 6fr 1fr;
    border: 1px solid #010c1388;
    margin-bottom: 1rem;
}
input{
    background: transparent;
    outline: none;
}
.search:focus-within{
    border: 2px solid rgb(0, 128, 64);
}
.search >*{
    color: #010c1388;
}


/* search page  */
.search{
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border: 1px solid #010c1388;
  margin-bottom: 1rem;
}
input{
  background: transparent;
  outline: none;
}
.search:focus-within{
  border: 2px solid rgb(0, 128, 64);
}
.search >*{
  color: #010c1388;
}


/* Issue Form  */
.issue-form{
  width: 80%;
  padding: 1rem;
  background-color: #ecf5f0;
  color: #242424;
  border: 1px solid #24242467;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.issue-form > h3{
  text-wrap: nowrap;
}

.issue-form > select{
  background-color: transparent;
  color: #242424;
  border: 1px solid #242424;
}
#description{
  background-color: transparent;
  border: 1px solid #242424;
}
label{
  margin-top: 1rem;
}

#submit-issue{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: rgb(9, 160, 84);
}
.form-container{
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(47, 155, 101, 0.716);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.fa-x{
  color: red;
}

/* Street Component  */
.street{
  background-color: #ecf5f0;
  border: 1px solid #24242482;
  padding: 1rem;
  color: #242424;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.street > button{
  background-color: rgb(9, 160, 84);
  color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.street-img{
  width: 100%;
  overflow: hidden;
}
.street-img > img{
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 2;
}
.street-head{
  color: rgb(2, 100, 51);
}

/* april fool  */
.april-fool{
  position: absolute;
  overflow: hidden;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  background: #f1e6e6;
  padding: 1rem;
  border-radius: 12px;
  border: 1px #242424;
  box-shadow: 0px 0px 5px;
}
.april-fool > *{
  width: 100%;
}
.april-fool > div > img{
  width: 100%;
  border-radius: 12px;
}
.april-fool > h3{
  padding: 0.5rem 1rem;
}